<% @sports.each do |sport|%>
    <ul><h2><%= link_to sport.name, sport_path(sport) %></h2></ul>
    <fieldset>
        <% sport.products.each do |product| %>
            <ul><strong>Item</strong></ul>
            <ul><%= product.product_name %></ul>
            <ul><strong>Item Description</strong></ul>
            <ul><div id="product-<%= product.id %>"><%= truncate(product.product_description, length: 0) %></div></ul>
            <ul><button class="js-more" id="<%= product.id %>">More Info</button></ul>
           <!-- <ul><%= product.product_description %></ul>
            <ul><strong>Contact Info</strong></ul>
            <ul><%= product.user.name %></ul>
            <ul><%= product.user.email %></ul>-->
        <% end %>
    </fieldset>
<% end %>