<br>
<ul><strong>Sport</label></strong></ul>
<ul><%= @product.sport.name %></ul>
<%= form_for(@product) do |f| %>
    <ul><strong>Item</strong></ul>
    <ul><%= f.text_field :product_name %></ul>
    <ul/><strong>Item Description</strong></ul>
    <ul><%= f.text_area :product_description %></ul>
    <%= f.hidden_field :sport_id %>
    <ul><%= f.submit %></ul>
<% end %>

<h2 id="created-name"></h2>
<h2 id="created-description"></h2>

<script type="text/javascript" charset="utf-8">

$(function () {
    $('form').submit(function(event) {
    
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/products', values);
 
      posting.done(function(data) {
        var post = data;
        $("#created-name").text(post["product_name"]);
        $("#created-description").text(post["product_description"]);
      });
    });
  });

</script>