    <div>
        <ul>
                <%= content_tag :div, flash[:alert] if flash[:alert] %>
                <%= content_tag :div, flash[:notice] if flash[:notice] %>
                <% if !logged_in? %>
                    <%= link_to "Sign Up", new_user_path %>
                    <%= link_to "Sign In", login_path %>
                <% else %>
                    <%= link_to "Log Out", logout_path, method: :delete %>
                <% end %>                
        </ul>
    </div>