    <div>
        <ul>
                <%= content_tag :div, flash[:alert] if flash[:alert] %>
                <%= content_tag :div, flash[:notice] if flash[:notice] %>
                <% if !logged_in? %>
                    <%= link_to "Sign Up", new_user_path %>
                    <%= link_to "Sign In", login_path %>
                <% else %>
                    <%= link_to "Log Out", logout_path, method: :delete %>
                    <%= link_to "Donate a new item", new_sport_path %>
                <% end %>                
        </ul>

        <ul>
            <% if @product.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
                
                    <ul>
                    <% @product.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
        </ul>
        
    </div>